@model SelectedListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Select Bicycle</h1>

<table class="table">
    <thead>
        <tr>
            <form asp-controller="Bicycles" asp-action="Index" method="get">
                <th>
                    @Html.DropDownListFor(Model => Model.SelectedMakeId, Model.BicycleMakes, "--- Select Make ---", new { @class = "form-control" })
                </th>
                <th>
                    @Html.DropDownListFor(Model => Model.SelectModelId, Model.BicycleModels, "--- Select Model ---", new { @class = "form-control" })
                </th>
                <th>
                    @Html.DropDownListFor(Model => Model.SelectedVersionId, Model.BicycleVersions, "--- Select Version ---", new { @class = "form-control" })
                </th>
                <th>
                    <input id="submitButton" type="submit" value="Search" disabled="disabled" />
                </th>
            </form>
            
        </tr>
        @if (Model.BottomBrackets.Any())
            {
            <tr> 
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Brand")
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
            </tr>
            }
    </thead>
    <tbody>
        @if (Model.BottomBrackets.Any())
        {

            @foreach (var item in Model.BottomBrackets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bBType)
                    </td>
                    <td>
                        <a asp-controller="BottomBrackets" asp-action="Details" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
   
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#SelectedMakeId').val(0);
            getModelByMakeId();
            getVersionByModelId();
        });
        $("#SelectModelId").change(function () {
            getVersionByModelId();
        });
        $("#SelectedMakeId").change(function () {
            getModelByMakeId();
        });
        $("#SelectedVersionId").change(function () {
            setSubmitButtonDisabled();
        });
        var getVersionByModelId = function () {
            $.ajax({
                url: '@Url.Action("GetVersionByModelId", "Bicycles")',
                type: 'GET',
                data: {
                    modelId: $('#SelectModelId').val(),
                },
                success: function (data) {
                    $('#SelectedVersionId').find('option').remove()
                    $('#SelectedVersionId').append('<option>--- Select Version ---</option>')
                    $(data).each(
                        function (index, item) {
                            $('#SelectedVersionId').append('<option value="' + item.version + '">' + item.version + '</option>')
                        }
                    )
                    setSubmitButtonDisabled()
                }
            });
        }
        var getModelByMakeId = function() {
            $.ajax({
                url: '@Url.Action("GetModelByMakeId", "Bicycles")',
                type: 'GET',
                data: {
                    makeId: $('#SelectedMakeId').val(),
                },
                success: function (data) {
                    $('#SelectedVersionId').find('option').remove()
                    $('#SelectedVersionId').append('<option>--- Select Version ---</option>')
                    $('#SelectModelId').find('option').remove()
                    $('#SelectModelId').append('<option>--- Select Model ---</option>')
                    $(data).each(
                        function (index, item) {
                            $('#SelectModelId').append('<option value="' + item.model + '">' + item.model + '</option>')
                        }
                    )
                    setSubmitButtonDisabled()
                }
            });
        }

        var setSubmitButtonDisabled = function () {
            console.log($("#SelectedVersionId").val());
            if ($("#SelectedVersionId").val() != "--- Select Version ---") {
                $("#submitButton").prop('disabled', false)
            } else {
                $("#submitButton").prop('disabled', true)
            }
        }
    </script>
}

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
@*        <table class="table">
           <thead>
               <tr>
                   <th>
                       @Html.DisplayNameFor(model => model.Make)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.Model)
                   </th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
       @foreach (var item in Model) {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Make)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Model)
                   </td>
                   <td>
                       <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                       <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                       <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </td>
               </tr>
       }
           </tbody>
       </table> *@
