@*@model IEnumerable<BicyclePartPicker.Models.Bicycle>*@
@model SelectedListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="col-3">
    @Html.DropDownListFor(Model => Model.SelectedMakeId, Model.BicycleMakes, "--- Select Make ---", new { @class = "form-control" })
    @Html.DropDownListFor(Model => Model.SelectModelId, Model.BicycleModels, "--- Select Model ---", new { @class = "form-control" })
    @Html.DropDownListFor(Model => Model.SelectedVersionId, Model.BicycleVersions, "--- Select Version ---", new { @class = "form-control" })
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            console.log("Hello");
            getModelByMakeId();
            getVersionByModelId();
        })
        $("#SelectModelId").change(function () {
            getVersionByModelId();
        });
        $("#SelectedMakeId").change(function () {
            getModelByMakeId();
        });
        var getVersionByModelId = function () {
            console.log("test");
            $.ajax({
                url: '@Url.Action("GetVersionByModelId", "Bicycles")',
                type: 'POST',
                data: {
                    modelId: $('#SelectModelId').val(),
                },
                success: function (data) {
                    $('#SelectedVersionId').find('option').remove()
                    $('#SelectedVersionId').append('<option value="0">--- Select Version ---</option>')
                    $(data).each(
                        function (index, item) {
                            $('#SelectedVersionId').append('<option value="' + item.version + '">' + item.version + '</option>')
                        }
                    )
                }
            })
        }
        var getModelByMakeId = function() {
            $.ajax({
                url: '@Url.Action("GetModelByMakeId", "Bicycles")',
                type: 'POST',
                data: {
                    makeId: $('#SelectedMakeId').val(),
                },
                success: function (data) {
                    $('#SelectedVersionId').find('option').remove()
                    $('#SelectedVersionId').append('<option value="0">--- Select Version ---</option>')
                    $('#SelectModelId').find('option').remove()
                    $('#SelectModelId').append('<option value="0">--- Select Model ---</option>')
                    $(data).each(
                        function (index, item) {
                            $('#SelectModelId').append('<option value="'+item.model+'">'+item.model+'</option>')
                        }
                    )
                }
            })
        }
    </script>
}

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
@*        <table class="table">
           <thead>
               <tr>
                   <th>
                       @Html.DisplayNameFor(model => model.Make)
                   </th>
                   <th>
                       @Html.DisplayNameFor(model => model.Model)
                   </th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
       @foreach (var item in Model) {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Make)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Model)
                   </td>
                   <td>
                       <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                       <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                       <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </td>
               </tr>
       }
           </tbody>
       </table> *@
