@model BicyclePartPicker.Models.BottomBracket

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    @* <h4>Bottom Bracket</h4> *@
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Type")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bBType)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
</div>
<div>
    <img class="align-content-center" src="@Url.Content(Model?.Image)" width="300" height="300">
</div>
